<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GameApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="nav-logo" asp-area="" asp-controller="Home" asp-action="Index">Biblioteka Gier</a>
            <a class="nav-link" asp-area="" asp-controller="Games" asp-action="Index">Gry</a>
            <a class="nav-link" asp-area="" asp-controller="Games" asp-action="SearchForm">Szukaj</a>
            <partial name="_LoginPartial"/>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
