@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam</h1>
    <p>Właśnie jesteś na stronie mojej apki o nazwie Biblioteka Gier.</p>
    <p>Możesz tu dodawać swoje gry, oraz swoją ocenę.</p>
</div>
